@model EmployeeStatusTestMVC.Models.Staff

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm("Add", "Home"))
{
    <label>StaffID</label><input type="text" name="StaffID" /><br />
    <label>LastName</label><input type="text" name="LastName" /><br />
    <label>FirstName</label><input type="text" name="FirstName" /><br />
    <label>Nickname</label><input type="text" name="Nickname" /><br />
    <label>Username</label><input type="text" name="Username" /><br />
    <label>InOutStatusID</label><input type="text" name="InOutStatusID" /><br />
    <label>TelephoneExtension</label><input type="text" name="TelephoneExtension" /><br />
    <label>FlagDeleted</label><input type="text" name="FlagDeleted" /><br />
    <label>ManagerID</label><input type="text" name="ManagerID" /><br />
    <button type="submit">Submit</button>
}

<div>
    @Html.ActionLink("Back to List", "Home")
</div>
