@model EmployeeStatusTestMVC.Models.Staff

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm())
{
    <label>StaffID</label><input type="text" name="StaffID" />
    <label>LastName</label><input type="text" name="LastName" />
    <label>FirstName</label><input type="text" name="FirstName" />
    <label>Nickname</label><input type="text" name="Nickname" />
    <label>Username</label><input type="text" name="Username" />
    <label>InOutStatusID</label><input type="text" name="InOutStatusID" />
    <label>TelephoneExtension</label><input type="text" name="TelephoneExtension" />
    <label>FlagDeleted</label><input type="text" name="FlagDeleted" />
    <label>ManagerID</label><input type="text" name="ManagerID" />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
