@model EmployeeStatusTestMVC.Models.Staff

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Login", "Home"))
{ 

<label>Username:</label><input name="Username" type="text" placeholder="Username" />
<button type="submit">Submit</button>
}

